
# A sample YAML file that demonstrates the use of DSC configuration in Windows 11 via Winget Config.

# yaml-language-server: $schema=https://aka.ms/configuration-dsc-schema/0.2
properties:
  configurationVersion: 0.2.0  
  resources:
    - resource: Microsoft.Windows.Developer/DeveloperMode
      id: enable-devmode
      directives:
        description: Enable Developer Mode
        allowPrerelease: true
        securityContext: elevated
      settings:
        Ensure: Present

    - resource: Microsoft.WinGet.DSC/WinGetPackage
      id: Mozilla.Firefox
      directives:
        description: Installing Mozilla Firefox
        allowPrerelease: false
        securityContext: current
      settings:
        id: "Mozilla.Firefox"
        source: winget   

    - resource: Microsoft.WinGet.DSC/WinGetPackage
      id: Google.Chrome
      directives:
        description: Installing Google Chrome
        allowPrerelease: false
        securityContext: current
      settings:
        id: "Google.Chrome"
        source: winget   

    - resource: Microsoft.WinGet.DSC/WinGetPackage
      id: SpanishGovernment.Autofirma 1.9
      directives:
        description: Installing Autofirma 1.9
        allowPrerelease: false
        securityContext: current
      settings:
        id: "SpanishGovernment.Autofirma 1.9"
        source: winget 

    - resource: Microsoft.WinGet.DSC/WinGetPackage
      id: Adobe.Acrobat.Reader.64-bit
      directives:
        description: Installing Adobe Reader
        allowPrerelease: false
        securityContext: current
      settings:
        id: "Adobe.Acrobat.Reader.64-bit"
        source: winget

    - resource: Microsoft.WinGet.DSC/WinGetPackage
      id: SpanishGovernment.InstaladorDNIe
      directives:
        description: Installing DNIe
        allowPrerelease: false
        securityContext: current
      settings:
        id: "SpanishGovernment.InstaladorDNIe"
        source: winget

    - resource: Microsoft.WinGet.DSC/WinGetPackage
      id: FNMT.ConfiguradorFNMT
      directives:
        description: Installing ConfiguradorFNMT
        allowPrerelease: false
        securityContext: current
      settings:
        id: "FNMT.ConfiguradorFNMT"
        source: winget

    - resource: Microsoft.WinGet.DSC/WinGetPackage
      id: NotepadPlusPlus
      directives:
        description: Install Notepad++
        allowPrerelease: false
        securityContext: current
      settings:
        id: "Notepad++.Notepad++"
        source: winget     

    - resource: Registry
      id: EnableRegBackup
      directives:
        description: Enable auto registry backup
        securityContext: elevated
      settings:
        Key: 'HKEY_LOCAL_MACHINE\System\CurrentControlSet\Control\Session Manager\Configuration Manager'
        ValueName: 'EnablePeriodicBackup'
        ValueData: 1
        ValueType: Dword
        Ensure: Present
        Force: true
        
    - resource: Microsoft.WinGet.DSC/WinGetPackage
      id: Remove7Zip
      directives:
        description: Remove 7Zip
        allowPrerelease: true
        securityContext: elevated
      settings:
        id: 7zip.7zip
        ensure: absent
